.button {
	display: inline-block;
	padding: 0.4rem 1rem;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;

	&_intro {
		padding: 0.866rem 1.466rem;
	}

	&_blue {
		border: solid 3px $primary-color;
		background-color: $white;
		transition: color .3s ease, background-color .3s ease;

		&:hover {
			color: $white;
			background-color: $primary-color;
		}
	}

	// &_black {
	// 	border: solid 3px $black;
	// 	background-color: $white;
	// 	transition: color .3s ease, background-color .3s ease;

	// 	&:hover {
	// 		color: $white;
	// 		background-color: $black;
	// 	}
	// }

	&_close {
		position: absolute;
		right: 10px;
		top: 10px;
		background-color: $white;
		padding: 0;
	}
}