.intro {
	display: flex;
	align-items: center;
	height: 44.666rem;
	background: center right  no-repeat url('../img/intro-img.png');

	&__content {
		max-width: 46rem;
	}

	&__title {
		font-size: 5.333rem;
		margin-bottom: 2.533rem;
	}

	&__about {
		font-weight: 300;
		font-size: 1.6rem;
		margin-bottom: 2.533rem;
		max-width: 33.333rem;
		line-height: 2.8rem;
	}
}