.main-footer {
margin-bottom: 3.466rem;
padding: 0 0.8rem;

	&__container {
		padding-top: 6rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__title {
		font-size: 1.866rem;
		margin-bottom: 2.8rem;
	}

	&-item {
		width: 36rem;
		text-align: center;
		margin: 0 auto;
	}

	&__button {
		display: block;
		width: 100%;
		font-size: 1.333rem;
		font-weight: 400;
	}

	&-contacts {
		font-size: 1.6rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 260px;

		&__item {
			display: flex;
			position: relative;

			&_tel::before {
				content: " ";
				background: no-repeat url("../svg/telephone-icon.svg");
				position: absolute;
				width: 30px;
				height: 30px;
				left: -38px;
			}

			&_mail::before {
				content: " ";
				background: no-repeat url("../svg/mail-icon.svg");
				position: absolute;
				width: 30px;
				height: 29px;
				left: -38px;
				top: 3px;
			}
		}
	}

	&-social {
		display: flex;
		justify-content: center;
		align-items: center;

		&__icon {
			display: inline-block;
		}

		&__icon + &__icon {
			margin-left: 3rem;
		}
	}
}