html {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 15px;
}

body{
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}


@import "fonts.scss";
@import "variables.scss";
@import "helpers.scss";
@import "buttons.scss";
@import "main-header.scss";
@import "intro.scss";
@import "features.scss";
@import "stages.scss";
@import "advantages.scss";
@import "main-footer.scss";
@import "secondary-footer.scss";